<p id="notice"><%= notice %></p>


<p>
  <strong>Votes:</strong>
  <%= @post.get_upvotes.size - @post.get_downvotes.size %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %></a>
</p>

<p>
  <strong>Summary:</strong>
  <%= @post.summary %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Subreddit:</strong>
  <%= @post.subreddit_id %>
</p>


<% if @post.user == current_user %>
	<div class="btn-group">
		<%= link_to 'Back', :back, class: "btn btn-default" %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
		<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>
