<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>


<% if @post.user == current_user %>
	<div class="btn-group">
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>
